.navbar-nav{
    background-color: rgb(0, 0, 0);
    color: blanchedalmond   ;
    display: inline;
    text-align: center;
    box-shadow: 1vmin 0 3vmin 0vmin #f50, inset -1vmin 0 3vmin 4vmin rgb(15 15 15), 4vmin 0 35vmin 0 #f60;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10%;
    margin-top: 15px;
    margin-bottom: 10px;
}
.navbar {
    margin-bottom: 15px;
}

.navbar-brand{
    font-size: 2rem;
    display: flex;
    color: blanchedalmond;
}

.nav-link{
    color: blanchedalmond;
    padding:0%
}
