.btn-primary  {
    background-color: green;
}

.toast-header{
    font-size: x-large;
    color: black;
    background-color: red;
}

.toast-body{
    color:black;
    font-size: x-large;
}

*{
    font-size: large;
}